@charset "utf-8";
/* CSS Document */

header
{
	float: left;
}

h1, p
{
	color: black;
}

h1
{
	background-color: #FFFFFF;
	
	height: 2em;
	
	font-size: 2.2em;
	
	text-align: center;
	
	padding-top: .5em;
	
	margin: auto;
}

h2
{
	color: #DCF900;
	
	font-size: 1.3em;
	
	margin-bottom: 1em;
}

p
{
	margin-bottom: 1em;
}

body
{
	background-color: #FFFFFF;
}

#container
{
	width: 65%;
	
	position: relative;
		left: .8em;
		
	margin: auto;
}

textarea
{
	width: 25em;
	height: 17em;
}

.calctable
{
	width: 90%;
	
	border: .1em solid black;
	
	background-color: #452B83;
	
	color: white;
	
	text-align: center;
	
	margin-bottom: .5em;
}

th, td
{
	border: .1em solid black;
}

.trlight
{
	background-color: #6949D7;
}

footer
{
	background-color: #FFFFFF;
	
	height: 2em;
		
	text-align: center;
	
	clear: both;
	
	padding-top: 1em;
	
	margin: auto;
}

footer p
{
	color: #000000; 
}

